* {font-family: Verdana;}

header{
    background-color: #AFAFAF;
    color: #FF5F00;
    text-align:center;
}

h1 {margin-bottom: 30px;}

table, h1 {
    width: 80%;
    margin-left: 100px;
}

table {box-shadow: 5px 2px 0px darkgray;}

table, th, tr, td {
    border-collapse: collapse;
    border: 1px solid #000000;
}

th {
    color: white;
    background-color: #76B900;
    text-align: center;
}

nav {
    margin-top: 50px;
    margin-bottom: 50px;
}

nav a {
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: #0082D1;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #AFAFAF;
    color: #FF5F00;
}

footer {
    background-color: #FF5F00;
    font-size: smaller;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}